#directories:
/w_venv
/.git
/.idea
/__pycache__
/gui
/node_modules
/output
/py

/release-builds
/build
/pm_venv

#files:
.DS_Store
.gitignore
sql_cmd
python_script.spec
README.md
db_gui.py
python_script.py